*.c        text eol=lf filter=tabspace4
*.cc       text eol=lf filter=tabspace4
*.cpp      text eol=lf filter=tabspace4
*.cxx      text eol=lf filter=tabspace4

*.h        text eol=lf filter=tabspace4
*.hpp      text eol=lf filter=tabspace4
*.def      text eol=lf
*.inc      text eol=lf

*.cmake    text eol=lf
*.txt      text eol=lf

*.sh       text eol=lf

*.md       text eol=lf
